body {
    background: aliceblue;
}

.mainContent {
    display: flex;
}

.ControlZone--clean {
    display: none
}

/* .title-208 {
    display: none;
} */

.ms-List-cell a {
    background: linear-gradient(45deg, black, transparent)
}