body {
    background: aliceblue;
}

.mainContent {
    display: flex;
}

#7438b294-8332-4e0a-97db-c331b4b6875c {
    display: none !important;
}

.a_b_50a7110f  {
    background-color: dimgray !important;
}

.ms-List-cell a {
    background: linear-gradient(45deg, black, transparent)
}